@model BulkyBook.Models.BuyModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Buy";
}
@if(Model.Book==null){
    <h1>Book was not available</h1>
}
else{
    <div class="BookShow">
        <h2>@Model.Book.Title</h2>
        <h3>@Model.Book.Author</h3>
        <div>
            @if (Model.inCart.Contains(Model.Book.Id))
            {
                <p>Added to Cart</p>
            }
            else
            {
                @Html.ActionLink("Add to Cart","AddCart","Home",new{id=Model.Book.Id},new{@class="link-btn"})
            }
            @Html.ActionLink("Order Now","OrderNow","Home",new{id=Model.Book.Id},new{@class="link-btn"})
        </div>
    </div>
}

<h3 style="text-align:center">Recommended Books</h3>
@{

    if(Model.Books.Count>0){
        <div class="container">
        @for(int i = 0; i < Model.Books.Count; i++)
        {
                <div class="card">
                    <h2>@Model.Books[i].Title</h2>
                    <h3>@Model.Books[i].Author</h3>
                    @Html.ActionLink("Buy","Buy","Home",new {id=Model.Books[i].Id},new{@class="link-btn"})
                </div>
        }
        </div>
    }
}