@model BulkyBook.Models.IndexPageModel
@{
    ViewData["Title"] = "Home Page";
}
@if (ViewBag.msg != null)
{
    <script>alert("@ViewBag.msg");</script>
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <input type="text" name="q" placeholder="Search" />
    <input type="submit" value="Search"/>
}
@{
    List<int> cBook = new List<int>();
}
@{
    if (Model.Cart.Count > 0)
    {
        <div class="cart" id="Carts">
        <p style="text-align: right; padding:2px 8px;"> <a href="#" onclick="closeCart()" >X</a> </p>
        @for(int i = 0; i < Model.Cart.Count; i++)
        {
            cBook.Add(Model.Cart[i].Book.Id);
            <div class="cart-card">
                <div>
                    <h3>@Model.Cart[i].Book.Title</h3>
                    <h5>Author :- @Model.Cart[i].Book.Author</h5>
                </div>
                <h4>Price:- @Model.Cart[i].Book.Price</h4>
                <h6>@Model.Cart[i].Book.Category</h6>
            </div>
        }
            @Html.ActionLink("Check-Out","Order","Home",new{@class="link-btn"});
        </div>
    }
    else
    {
         <div class="cart" id="Carts">
        <p style="text-align: right; padding:2px 8px;"> <a href="#" onclick="closeCart()" >X</a> </p>
        <h3>Your Cart is Empty</h3>
        </div>
    }
    if (Model.SearchBook.Count == 0)
    {
        <h2>No Book Found</h2>
    }
    else
    {
        if (Model.SearchBook[0] == -1)
        {
            <div class="container">
                @for (int i = 0; i < Model.AllBook.Count; i++)
                {
                    <div class="card">
                        <h3>@Model.AllBook[i].Title</h3>
                        <h4>Rs.- @Model.AllBook[i].Price</h4>
                        <h5>@Model.AllBook[i].Author</h5>
                        <div>
                            @Html.ActionLink("Buy Now","Buy","Home",new{id=Model.AllBook[i].Id},new{@class="link-btn"})
                        @{
                            if (cBook.Contains(Model.AllBook[i].Id))
                            {
                                    <a href="#" class="link-btn">Added To Cart</a>
                            }
                            else
                            {
                                    @Html.ActionLink("Add To Cart","AddCart","Home",new{id=Model.AllBook[i].Id},new{@class="link-btn"})
                            }
                        }
                        </div>
                    </div>
                }
            </div>

        }
        else
        {
           <div class="container">
                @for (int i = 0; i < Model.AllBook.Count; i++)
                {
                    if (Model.SearchBook.Contains(Model.AllBook[i].Id))
                    {
                        <div class="card">
                            <h3>@Model.AllBook[i].Title</h3>
                            <h4>Rs.- @Model.AllBook[i].Price</h4>
                            <h5>@Model.AllBook[i].Author</h5>
                            <h6>@Model.AllBook[i].Category</h6>
                            <div>
                                @Html.ActionLink("Buy Now","Buy","Home",new{id=Model.AllBook[i].Id},new{@class="link-btn"})
                            @{
                                if (cBook.Contains(Model.AllBook[i].Id))
                                {
                                        <a href="#" class="link-btn">Added To Cart</a>
                                }
                                else
                                {
                                        @Html.ActionLink("Add To Cart","AddCart","Home",new{id=Model.AllBook[i].Id},new{@class="link-btn"})
                                }
                            }
                            </div>
                        </div>
                    }
                }
           </div>

        }
    }
}
