@model BulkyBook.Models.IndexPageModel
@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <input type="text" name="q" />
    <input type="submit" value="Search"/>
}

@{
    List<int> cBook = new List<int>();
    <h1>Cart</h1>
    if (Model.Cart.Count > 0)
    {
        <table>
            @for(int i = 0; i < Model.Cart.Count; i++)
            {
                cBook.Add(Model.Cart[i].Book.Id);
                <tr>
                    <td>@Model.Cart[i].Book.Title</td>
                    <td>@Model.Cart[i].Quantity</td>
                </tr>
            }
        </table>
    }
    else
    {
        <h4>Cart is Empty</h4>
    }
}



@{
    if (Model.Book.Count > 0)
    {
        int co = 1;
        <h3 style="text-align:center">Books</h3>
        <table width="100%">
        <tr>
            <td>S.No</td>
            <td>Title</td>
            <td>Author</td>
            <td>Category</td>
            <td>No of Downloads</td>
            <td>Buy Now</td>
            <td>Add to Cart</td>
        </tr>
        @for(var i = 0; i < Model.Book.Count; i++)
        {
            <tr>
                <td>@co</td>
                <td>@Model.Book[i].Title</td>
                <td>@Model.Book[i].Author</td>
                <td>@Model.Book[i].Category</td>
                <td>@Model.Book[i].NoOfDownloads</td>
                <td>@Html.ActionLink("Buy","Buy","Home",new {id=Model.Book[i].Id})</td>
                    @if (cBook.Contains(Model.Book[i].Id))
                    {
                        <td>Added To Cart</td>
                    }
                    else
                    {
                        <td>@Html.ActionLink("Add To Cart","AddCart","Home",new {id=Model.Book[i].Id})</td>
                    }
                    
            </tr>
            co++;
        }
        </table>
    }
    else
    {
        <h3 style="text-align:center">No Result Found</h3>
    }
}
